* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f85032;
  background: linear-gradient(to top, #961d1d, rgb(238, 214, 36), #2f60db);
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  color: antiquewhite;
  background-image: url('./assets/imgs/bookshelf.jpg');
  background-size: cover;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f10a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(145, 87, 87, 0.623);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(209, 193, 193);
}

::-webkit-input-placeholder {
  color: rgb(226, 194, 152);
}

.app-container {
  position: relative;
  height: 65vh;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 15vh;
}

.searches-container {
  display: inline-block;
  width: fit-content;
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.quoteBox-app-container {
  border-radius: 1%;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.842),
    -2px 0px 12px rgba(0, 0, 0, 0.842);
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.842);
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  width: 50%;
  height: 75%;
  min-height: 200px;
  overflow-y: auto;
  padding: 10px 20px;
  font-size: 33px;
}

.quoteBox-app-container:hover .quote-info-container {
  border-bottom: 1px solid rgba(255, 255, 0, 0.644);
}

@media only screen and (max-width: 1124px) {
  .quoteBox-app-container {
    width: 80%;
  }
}

@media only screen and (max-width: 744px) {
  .searches-container {
    display: block;
    margin-top: -60px;
  }

  .quoteBox-app-container {
    top: 35%;
    width: 85%;
  }
}

@media only screen and (max-width: 446px) {
  .quoteBox-app-container {
    width: 100%;
    height: 85%;
  }
}

@media only screen and (max-height: 650px) {
  .quoteBox-app-container {
    height: 95%;
  }
}
