.quoteBox-container {
  /* display: inline-block; */
}

.quote-info-container {
  font-size: 30px;

  height: 220px;
  overflow-y: auto;
  letter-spacing: -1.5px;
  line-height: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 15px;
  border-bottom: 1px solid rgba(255, 255, 0, 0.253);
  border-radius: 5%;
  transition: 0.3s;
}


.quote-btns-container {
  height: 50px;
  margin-top: 15px;

}
@media only screen and (max-width: 446px) {
  .quote-info-container {
    height: 250px;
  }
}

@media only screen and (max-width: 446px) and (min-height: 720px) {
  .quote-info-container {
    height: 350px;
  }
}


@media only screen and (min-width: 744px) {
  .quote-info-container {
    height: 280px;
  }
}